* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../images/matrix-1120x630.jpg');
}

main {
    font-size: 2rem;
    background-color: black;
    color: rgb(205, 233, 195);
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
}
 

header {
    display: flex;
    flex-wrap: wrap;
    height: 3.5rem;
    width: 100%;
    background-color: black;
    color: rgb(205, 233, 195);
    align-content: center;
    justify-content: space-between;
}

.highscore {
    margin-top: 1rem;  
}

a {
    
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(205, 233, 195);
    padding: .5rem;
    
        
}

.timer {
    font-size: 2rem;
    color: rgb(205, 233, 195);
    padding: .5rem;
    margin-right: 3rem;
}

#quiz-home {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: black;
    color: rgb(205, 233, 195);
    height: 3rem;
    width: 8rem;    

}

#home-head {
    background-color: black;
    color: rgb(205, 233, 195);
    margin-top: 0rem;
    display: block;
    flex-direction: column;
    justify-content: center;
}

#quiz {
    display:block;
    background-color: black;
    color: rgb(205, 233, 195);
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
}


