body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../images/matrix-1120x630.jpg');
}

a {
    text-decoration: none;
    color: rgb(205, 233, 195);
}

.highscore {
    background-color: rgb(18, 27, 24);
    font-size: 1.5rem;
    color: rgb(205, 233, 195);
}

