* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../images/matrix-1120x630.jpg');
}

main {
    font-size: 2rem;
    color: rgb(205, 233, 195);
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
}
 

header {
    display: flex;
    flex-wrap: wrap;
    height: 3.5rem;
    width: 100%;
    background-color: black;
    color: rgb(205, 233, 195);
    align-content: center;
    justify-content: space-between;
}

.highscore {
    margin-top: 1rem;  
}

a {
    
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(205, 233, 195);
    padding: .5rem;
    
        
}

.timer {
    font-size: 2rem;
    color: rgb(205, 233, 195);
    padding: .5rem;
    margin-right: 3rem;
}

#quiz-home {
    display: block;
    justify-content: inherit;
    margin: 1rem;
    margin-right: 15rem;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: black;
    color: rgb(205, 233, 195);
    height: 3rem;
    width: 8rem;    
    margin: 1rem;
}

#start-btn {
    margin-left: 50%;
}

#choices .btn {
    display: inline-flex;
    flex-wrap: wrap;
    height: 4rem;
    width: 9rem;
    margin: .5rem;
    justify-content: center;
    align-items: center;
}
#home-head {
    width: 40rem;
    color: rgb(205, 233, 195);
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
}

#home-head h1 {
    margin-left: 50%;
    background-color: black;
    width: inherit;
    display: flex;
    justify-content: center;

}

#home-head p {
    margin-left: 50%;
    margin-top: 0%;
    background-color: black;
    width: inherit;
    display: flex;
    justify-content: center;
    padding: 2rem;

}

#quiz {
    display:block;
    background-color: black;
    color: rgb(205, 233, 195);
    margin-top: 5rem;
    flex-direction: row;
    text-align: center;
    align-content: center;
    padding: 1rem;
}

.feedback {
    float: right;
    width: 20rem;
    background-color: black;
    
}

#choices {
    margin-top: 1.25rem;
    width: auto;
    height: 5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin-left: 25%;
    
}

#end-screen {
    background-color: black;
}

#highscores {
    background-color: black;
    display: inline-table;
}





